.b1{
    border-radius: 10px;
}
.b2{
    border-radius: 10px;
}
.b3{
    border-radius: 40px;
}
.b4{
    border-radius: 20px;
}

.b6{
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.b7{
    border-radius: 140px;
}
.b8{
    border-radius: 10px;
}
.b9{
    border-top-right-radius: 40px;
    border-bottom-left-radius: 4px;
}